.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
  color: #27b8ad;
  font-size: 20px;
}
