.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 0 16px;
  text-align: start;
}
.searchInput {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #d4f0eb;
}
.searchInput:hover,
.searchInput:focus {
  color: #212121;
  background-color: #27b8ad;
}
p {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
}
