.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.btn {
  height: 35px;
  width: 100px;
  padding: 5px;
  border-color: #27b8ad;
  border-radius: 10px;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #d4f0eb;
}

.btn:hover,
.btn:focus {
  scale: 1.1;
  background-color: #27b8ad;
}
